@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* COMMON ELEMENT */

a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}
.col-100 {
  width: 100%;
}
.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-md-100 {
  width: 100%;
}

/* Common class */

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px;
}
.section_padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.button {
  padding: 20px 30px;
  font-size: 18px;
  line-height: 0.055px;
  border-radius: 7px;
  border: 1px solid;
}
.btn_blue {
  background-color: #001f51;
  color: #ffffff;
  margin: 10px auto;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-left: 20px;
}
.btn_blue a:hover {
  color: #0c0f13;
}
.btn_red {
  max-width: 168px;
  background-color: #d00000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border: none;
}

        
    /* NAVBAR */


.navbar {
  width: 100%;
  padding: 25px 0px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px 2px;
}
.nav_brand a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggler {
  display: none;
}
.nav_items {
  display: flex;
  
}
.nav_list {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.nav_list li a {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 18px;
  color: #001f51;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
#active {
  color: #940f14;
}



/* BANNER */

.banner {
  height: 90vh;
  width: 100%;
  background-image: url("../IMAGES/banner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_content {
  display: flex;
  flex-direction: row;
  gap: 77px;
  align-items: center;
}
.banner_text {
  display: flex;
  flex-direction: column;

}
.banner_text h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  color: #001f51;
  font-family: "Inter", sans-serif;
  margin-top: 100px;
}
.banner_text span {
  color: #d00000;
  font-weight: 700;
}
.banner_text p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  color: #001f51;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0%;
}

.banner_form {
  padding: 25px 25px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px 25px;
  border: none;
}
.banner_form h3 {
  text-align: center;
  font: 24px;
  font-family: "Inter", sans-serif;
  color: #001f51;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 20px;
}
.form_data {
  margin: 0 auto;
}
.form_flex {
  display: flex;
  justify-content: center;
  gap: 10px;

  align-items: center;

  margin-bottom: 20px;
}
input[type="text"],
input[type="number"] {
  width: 80%;
  color: #b8b8b8;
  border: 2px solid #b8b8b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding: 14px 14px;
}

#mail {
  margin-bottom: 22px;
}
input[type="email"] {
  width: 100%;
  display: inline-block;
  padding: 14px 14px;
  color: #b8b8b8;
  border: 2px solid #b8b8b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
textarea {
  width: 100%;
  display: inline-block;
  padding: 12px 5px;
  color: #b8b8b8;
  border: 2px solid #b8b8b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 22px;
}

input[type="submit"] {
  width: 100%;
  padding: 20px 83px;
  border: 1px solid #b8b8b8;
  border-radius: 7px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #d00000;

  margin-bottom: 22px;
}

/* ABOUT TEAM */

.about {
  background-color: #ffffff;
}
.about_content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
figure img {
  max-width: 568px;
  max-height: 537px;
  border-radius: 20px;
  opacity: 100%;
}
.about_text {
  max-width: 539px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 37px;
}
.about_text h2 {
  text-align: start;
  font-size: 50px;
  color: #001f51;
  font-family: "Inter", sans-serif;
  line-height: 60px;
}
.about_text span {
  color: red;
}
.about_text p {
  text-align: start;
  font-size: 18px;
  color: black;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
}

/* THE LOAN PRODUCTS */

.loan_product {
  background-color: #f3f3f3;
}
.loan_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.loan_text h2 {
  color: #001f51;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-family: "Inter", sans-serif;
`
}

.loan_text span {
  color: #d00000;
}

.loan_text p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  text-align: center;
  color: #000000;
  
}

.loan_items {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 35px;
}
.item {
  background-color: #ffffff;
  border-radius: 20px;
  opacity: 100%;
  
}
.item figure img {
  border-radius: 15px;
  margin-top: 14px;
}
.item p {
  color: #001f51;
  font-size: 23px;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 10px 3px;
  line-height: 33px;
}
.loan_link {
  margin: 50px auto;

  text-align: center;
}

/* FOOTER */
footer{
   background-color: #001f51;
    background-image: url("../images/footerimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}


.tending_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tending_content img {
  margin-bottom: 50px;
}

.tending_content p {
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
}

/* MEDIA PROPERTY */

@media screen and (max-width: 991px) {
  .navbar {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav_items {
    display: none;
  }
  .btn_contact {
    display: none;
  }
  .nav_brand {
    width: 100%;
  }
  .nav_brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggler {
    display: block;
  }
  .showList {
    display: block;
  }
  .banner {
    width: 100%;
    height: 100%;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner_text {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_form {
    flex-basis: 100%;
    margin-bottom: 20PX;
    
  }

  .about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .loan_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .item {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media screen and (max-width: 767px) {
  .navbar {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav_items {
    display: none;
  }
  .nav_brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn_contact {
    display: none;
  }
  .nav_brand {
    width: 100%;
  }
  .toggler {
    display: block;
  }
  .showList {
    display: block;
  }

  .banner {
    width: 100%;
    height: 100%;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner_text {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_form {
    flex-basis: 100%;
   
  }

  .about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .loan_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .item {
    flex-basis: 100%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 567px) {
  .navbar {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav_items {
    display: none;
  }
  .nav_brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn_contact {
    display: none;
  }
  .nav_brand {
    width: 100%;
  }
  .toggler {
    display: block;
  }
  .showList {
    display: block;
  }
  .banner {
    width: 100%;
    height: 100%;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner_text {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_form {
    flex-basis: 100%;
    
  }
  .about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .loan_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .item {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
